/**
 * Copyright 2013-2017 butor.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.butor-table {
	position: relative; /* could be absolute or relative */
	x-border: 2px solid black;
	overflow-x: auto;
	overflow-y: auto;
}

.butor-table.table-bordered {
	border-left: 1px solid #ddd;
}

.butor-table > .butor-table-body > table {
	margin-bottom: 0px;
	table-layout: auto;
}

.butor-table-body {
	z-index: 999;
	x-overflow-x: hidden;
	x-overflow-y: auto;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: -1px;
	x-border: 2px dashed red;
}

.butor-table > .butor-table-body > table > thead th {
	position: relative;
	x-padding: 4px;
	x-overflow: hidden;
	x-margin: 0px;
	margin-left: -1px;
	x-height: 20px;
	x-border: 2px dashed black;
	vertical-align: top;
}

.butor-table > .butor-table-body > table > thead {
	position: absolute;
	top: 0px;
	x-right: 0px;
	x-border: 1px dashed red;
	border-bottom: 2px solid #ddd;
	background-color: white;
	z-index: 999;
}

.butor-table > .butor-table-body > table > thead > tr > th {
	border-bottom: 0px;
}

.butor-table > .butor-table-body > table > thead > tr > th .multiSortColBadge {
	position: absolute;
	top: -1px;
	right: 5px;
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0px;
	font-size: 1;
	cursor: pointer;
}

.header {
	x-padding-right: -5px;
	background-position: bottom center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.headerSortUp {
	background-image: url(../img/asc.gif);
}

.headerSortDown {
	background-image: url(../img/desc.gif);
}

.table-bordered th,.table-bordered td {
	border-left: 1px solid #ddd;
}

.table-bordered > tbody {
	border-bottom: 1px solid #ddd;
}

.butor-table > .butor-table-body > table tr.active {
	font-weight: bold;
}

.grid .slick-header-column {
	font-weight: cbolder;
	color: #333;
}

.grid .slick-header-sortable {
	cursor: pointer;
}

.grid {
	font-size: 1em;
}

.grid .smaller {
	font-size: .9em;
}

.grid .slick-column-name {
	white-space: normal;
}

.grid .slick-header-column.ui-state-default {
	height: 40px;
}

.grid .slick-cell a {
	color: #08c;
}

.grid .ui-widget-content {
	background: transparent;
}

.grid .slick-row {
	background-color: #fff;
}

.grid .slick-row.odd {
	background-color: #eee;
}

.grid .slick-row.hovered {
	background-color: #def;
}
.grid .slick-cell.selected {
	background-color: #bcd;
}


.grid .multiSortColBadge {
	position: absolute;
	top: -1px;
	right: 5px;
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0px;
	font-size: 1;
	cursor: pointer;
}

.grid,.grid div { 
	/* fix conflict with Bootstrap 3 */
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}