/**
 * Copyright 2013-2017 butor.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body {
	padding-top: 45px;
	padding-bottom: 40px;
}
@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
	.navbar-fixed-top {
		margin-bottom: 5px;
		position: relative;
	}
	body {
		padding-top: 0px;
	}
}
.navbar-toggle {
	margin-top: 5px;
	margin-bottom: 5px;
}
.first-page-header {
	padding-top: 0px;
	margin-top: 0px;
}
.invisible {
	display:none;
}
.app-nav {
	border-bottom:1px solid #ddd;
	padding-bottom:5px;
	margin-bottom:8px;
}
.msgPanel {
	z-index:2000;
	padding:2px;
	min-height:24px;
}
#appTitlePanel {
	/*position:fixed;
	right: 16px;
	top: 40px;*/
	float:right;
}
#appTitle {
	padding:5px;
	margin:0px;
	margin-top:4px;
	line-height: 16px;
}
.section-header {
	font-size: 200%;
	padding-top:10px;
	padding-bottom:5px;
	font-weight: bolder;
	border-bottom: 1px solid #333;
}
#_content {
	min-height: 450px;
}
#_footer {
	margin-top:5px;
	border-top:1px solid #ddd;
	padding-top:5px;
}
.icon-red {
	background-image: url("../../../assets/img/glyphicons-halflings-color.png");
}
.icon-grey {
	background-image: url("../../../assets/img/glyphicons-halflings-grey.png");
}

.highlight {
	font-weight: bolder;
}
input.highlight {
	border: 1px solid black;
	font-weight: bolder;
	color: blue;
}
.bolder {
	font-weight: bolder;
}
.backToTopLink {
	display:none;
	position:fixed; /*absolute*/
	right:5px;
	bottom:5px;
	font-size: 120%;
	text-align:center;
	vertical-align:middle;
	padding:6px;
	cursor: pointer;
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
	background-image: url("../img/stbg.png");
	background-repeat: repeat;
}
.faded {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	color: gray;
}
.semi-transparent {
	opacity:0.3;
	filter:alpha(opacity=30); /* For IE8 and earlier */
	color: gray;
}

.form-controls-bar {
	text-align: right;
	border-top: 1px solid #ddd;
	padding-top: 7px;
}

table.form {
	padding: 5px;
}
table.form > tbody > tr > td:nth-child(3) > label {
	text-align: right;
}
input[disabled=""] {
	background-color: transparent;
}
.align-right, td.align-right, th.align-right {
	text-align: right;
}
.align-center, td.align-center, th.align-center {
	text-align: center;
}
ul.welcome > li {
	margin: 0.7em 1em;
	line-height:100%;
}
ul.welcome {
	padding-bottom: 1.5em;
}
.translucent {
	background-image: url("../img/stbg.png");
	background-repeat: repeat;
}
.floating-nav-bar {
	z-index:2000;
	display:none;
	position:absolute;
	vertical-align:middle;
	cursor: pointer;
	padding:0px;
	padding-top:4px;
}

.page-header {
	overflow: hidden;
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
}

.page-header h3,.page-header h4 {
	padding: 0px;
	margin: 0px;
	font-weight: bolder;
}

#result {
	margin-top:8px;
}
.result {
	margin:4px;
}
.span-fill {
	width:95%;
}
.well-mini {
	padding: 2px;
	border: 1px solid #ccc;
}
a {
	cursor: pointer;
}
.btn-toolbar {
	margin: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}
/*
.btn-toolbar .btn {
	margin:0px;
	padding:0px;
}
*/
.tool-separator {
	margin-left:2px;
	margin-right:2px;
	border-left:1px dotted #ddd;
}
.toolbar {
	padding-top: 2px;
	padding-bottom: 2px;
} 
.toolbar > .btn, .toolbar > .btn-group {
	margin-right:2px;
} 
.table thead>tr>th, 
.table tbody>tr>th, 
.table tfoot>tr>th, 
.table thead>tr>td, 
.table tbody>tr>td, 
.table tfoot>tr>td {
	padding: 4px;
}

/* remove space between the menu button and the menu dropdown to avoid mousemove in that space */
.floating-nav-bar .dropdown-menu {
	margin-top: 0px;
}
.tooltip-error + .tooltip > .tooltip-inner {
	background-color: #f00;
	font-weight: bolder;
}
.tooltip-error + .tooltip > .tooltip-arrow {
	border-top-color: #f00;
	border-bottom-color: #f00;
}
.window_panel .window_header_normal {
	height: 24px;
}
.window_panel {
	font-size: inherit;
}
.butor-dlg {
	padding:5px;
	margin:0px;
	x-border:1px solid red;
}
.butor-dlg .form-horizontal .controls, .form-condensed.form-horizontal .controls {
	margin-left: 100px;
}
.butor-dlg .form-horizontal .control-group, .form-condensed.form-horizontal .control-group {
	margin-bottom: 5px;
}
.butor-dlg .form-horizontal .control-label, .form-condensed.form-horizontal .control-label {
	float: left;
	width: 100px;
	padding-top: 5px;
	text-align: left;
}
.butor-dlg .form-control, .form-condensed.form-control {
	height: 30px;
}
.butor-dlg .input-group-addon {
	padding: 2px 10px;
	padding-top: 7px;
}
.butor-dlg .dlg-tool-bar {
	position: absolute;
	top: 30px;
	left: 5px;
	right: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
.butor-dlg .dlg-content {
	position: absolute;
	top: 70px;
	left: 5px;
	right: 5px;
	bottom: 70px;
	overflow: auto;
	overflow-x: hidden;
}
.dlg-content > .row {
	margin-left: 0px;
	margin-right: 0px;
}
.butor-dlg .dlg-content-no-tool-bar {
	top: 30px;
}
.butor-dlg .dlg-content-no-scroll {
	overflow: auto;
}
.butor-dlg .dlg-content-no-button-bar {
	bottom: 20px;
}
.butor-dlg .dlg-button-bar {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 20px;
	padding-top: 5px;
	border-top: 1px solid #ccc;
}

.butor-table td input, .butor-table td select {
	padding: 2px;
	margin: 0px;
	vertical-align: middle;
}
.dropdown ul .text-danger {
	color: red;
}
.editable {
	cursor: pointer;
}
.help-tt {
	border-bottom: 1px dashed #000;
	cursor: help;
	font-weight: bold;
}
/*-- panels --*/
.msgPanel:hover {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	color: gray;
}
.msgPanel > .icon-remove:hover {
	opacity:1;
}

.msgPanel.alert-info {
	x-background-color: #f3ca88;
	x-border-color: #e5a33b;
	color: #2652FF;
}

.alert-warning {
	background-color: #FFFF5E;
	color: #5E5E5E;
	border-color: #dddddd;
}

.msgPanel.alert-error {
	color: #D10000;
}

/* --------- */
.bottom-panel {
	position: fixed;
	margin: 0px;
	bottom: -4px;
}

.bottom-panel-body {
	margin: 0px;
	padding: 3px;
	background-color: #eee;
}

.panel {
	padding: 0px;
}

.panel .panel-body {
	padding: 4px;
}

.panel-heading {
	padding: 4px;
}
/*----------------*/

.typeahead-short .typeahead {
	max-height: 100px;
	overflow: auto;
}
.typeahead-medium .typeahead {
	max-height: 200px;
	overflow: auto;
}
.typeahead-long .typeahead {
	max-height: 300px;
	overflow: auto;
}

/* to avoid datepicker calendar to go behind dialog! */
.ui-datepicker {
	z-index: 9999 !important;
}

@media (min-width: 1000px) {
	.modal-xl {
		width: 85%;
	}
	.modal-xxl {
		width: 98%;
	}
}
